body {
  font-family: 'Roboto Slab', 'museo_slab500', serif;
  padding-top: 70px;
}
body.page_home {
  background-image: url('../img/london-night.jpg');
  min-height: 500px;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', 'museo_slab500', serif;
}
.top-buffer {
  margin-top: 15px;
}
.overflow-scroll {
  overflow-x: scroll;
}
.form-inline {
  display: inline;
}
.baseline {
  vertical-align: baseline;
}
#statement td {
  white-space: nowrap;
}
#statement .statement-actions {
  min-width: 68px;
}
#statement .action-cell * {
  display: inline-block;
  float: left;
}
#statement .action-cell .btn {
  padding: 2px;
}
#statement .date-cell {
  min-width: 84px;
}
header .fa {
  opacity: 0.65;
}
html {
  min-height: 100%;
  position: relative;
}
.welcome-panel {
  color: #fff;
  margin-top: -9px;
  margin-bottom: -11px;
}
.welcome-panel .jumbotron {
  background-color: transparent;
}
.welcome-panel .home-login {
  padding: 7%;
}
#footer {
  min-height: 60px;
  background-color: #efefef;
  width: 100%;
  margin-top: 18px;
}
#footer p,
#footer .footer-item {
  margin: 20px 0;
}
#footer p span,
#footer .footer-item span {
  display: inline-block;
  width: 110px;
}
#footer p span div,
#footer .footer-item span div,
#footer p span iframe,
#footer .footer-item span iframe {
  vertical-align: middle!important;
}
