@font-face {
  font-family: 'museo_slab500';
  src: url('../fonts/Museo_Slab_500_2-webfont.eot');
  src: url('../fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Museo_Slab_500_2-webfont.woff') format('woff'), url('../fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'), url('../fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  padding-top: 70px;
  font-family: 'museo_slab500';
}
body.page_home {
  background-image: url('../img/london-night.jpg');
  min-height: 500px;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'museo_slab500';
}
.statement-actions {
  min-width: 50px;
}
.action-cell * {
  display: inline-block;
  float: left;
}
.action-cell .btn {
  padding: 2px;
}
header .fa {
  opacity: 0.65;
}
html {
  min-height: 100%;
  position: relative;
}
.welcome-panel {
  color: #fff;
  margin-top: -9px;
  margin-bottom: -11px;
}
.welcome-panel .jumbotron {
  background-color: transparent;
}
.welcome-panel .home-login {
  padding: 7%;
}
#footer {
  min-height: 60px;
  background-color: #efefef;
  width: 100%;
  margin-top: 18px;
}
#footer p,
#footer .footer-item {
  margin: 20px 0;
}
#footer p span,
#footer .footer-item span {
  display: inline-block;
  width: 110px;
}
#footer p span div,
#footer .footer-item span div,
#footer p span iframe,
#footer .footer-item span iframe {
  vertical-align: middle!important;
}
