body {
	padding-top: 70px;
	margin-bottom: 70px;
}
.action-cell *{
	display:inline-block;
	float:left;

}
.action-cell .btn{
	padding:2px;
}
header .fa{
	opacity:0.65;
}

html{
	min-height: 100%;
	position: relative;
}
#footer{
	position: absolute;
	bottom: 0;
	height: 60px;
	background-color: #efefef;
	width:100%;
	p, .footer-item {
		margin: 20px 0;

		span {
			display: inline-block;
			width: 110px;
			div, iframe{
				
				vertical-align: middle!important;
				//display: inline-block;
			}
		}
	}
}
