body {
	padding-top: 70px;
}
.action-cell *{
	display:inline-block;
	float:left;

}
.action-cell .btn{
	padding:2px;
}
header .fa{
	opacity:0.65;
}

html{
	min-height: 100%;
	position: relative;
}
.welcome-panel{
	color:#fff;
	background-image: url('../img/london-night.jpg');
	min-height: 500px;
	background-size:cover;
	margin-top: -9px;
	margin-bottom: -11px;
}
#footer{
	min-height: 60px;
	background-color: #efefef;
	width:100%;
	margin-top: 18px;
	p, .footer-item {
		margin: 20px 0;
		span {
			display: inline-block;
			width: 110px;
			div, iframe{
				vertical-align: middle!important;
			}
		}
	}
}
